# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules


# testing
/coverage

#Informationen zum deployen auf zhs nicht im public GIT ablegen
/zhs_infos

# production
/build

# private 
/zhs_infos

# misc

npm-debug.log*
yarn-debug.log*
yarn-error.log*
